name: Deploy to Cloudflare Workers

on:
  push:
    branches:
      - main  # Set this to your default branch
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Wrangler
        run: npm uninstall -g @cloudflare/wrangler && npm install -g wrangler
      - name: Deploy to Cloudflare Workers
        run: wrangler publish
        env:
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
